{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

    <style>
      body{
        background-color:  rgb(23, 28, 66);;
      }
        .wrap {
  
  padding: 50px;
  text-align: center;
}

#output {
  display: inline-block;
  top: 4px;
  position: relative;
  border: solid 15px rgb(54, 179, 201);
  border-radius: 15px;
  padding: 2px;
}

    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/userhome.css' %}">
</head>
</head>
<body>

  <div class="nav" style="padding: 0cm; margin: 0px;height: 3.85rem;" >
    <span class="link">
      <a href="/home/index/">Home</a>
    </span>
    <div class="link">
      <a href="/home/profile/">Profile</a>
    </div>
    <div class="link">
        <a href="/paytm/offers/">Shop</a>
    </div>
    <div style="width: 6rem;text-align: center;" class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content link">
          <a href="/home/about/">About Us</a>
          <a href="#">Contact</a>
          <a href="/home/event/">Events</a>
        </div>
    </div>
    <div style="width: 6rem;text-align: center;" class="dropdown">
        <button class="dropbtn">Assemble</button>
        <div class="dropdown-content link">
          <a href="/chat">Chat</a>
          <a href="{% url 'about' %}">Go Live</a>
        </div>
    </div>
      <div style="width: 6rem;text-align: center;" class="dropdown">
        <button class="dropbtn">Top Rated</button>
        <div class="dropdown-content link">
          <a href="/home/topPost/">Posts</a>
          <a href="/home/topGamers/">Rankers</a>
        </div>
      </div>

    <span style="margin-right: 22rem; "></span>
    <span style="padding-top: 10px;"><form action="/home/search/"  method="get">
     <input style="height: 1.7rem; width:14rem; outline: none; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
        <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
    </form>
</span>
<span style="margin-right: 3rem;"></span>

    <div class="link">
        <a href="/home/notify/">Notifications</a>
    </div>

    <div class="link">
        <a href="/home/logout/">Logout</a>
    </div>

  </div>

    <div class="wrap" style="background-color: rgb(14, 17, 46);" >
        
        <video id="video" width="800" crossorigin="anonymous" autoplay style="border-top: 0px; border-radius: 15px; border: solid 10px coral;">
          
         
          Your browser does not support HTML5 video tag. Please download FireFox 3.5 or higher.
        </video>
        <button style="margin-left: 20px; height: 40px; width: 100px; background-color: #FFA500;" id="start">Start</button>
        <button style="margin-left: 20px; height: 40px; width: 100px; background-color: #FFA500;" id="stop">Stop</button>
        <br>
        <span style="color: aqua; font-size: 30px;">{{username}}</span>
        <button id="end" style="margin-left: 20px; height: 40px; width: 100px; background-color: #FFA500;">End Stream</button>
   
        <br/>
        <button id="cit" onclick="shoot()" class="button" style="display: none;">Capture</button>
        <br/>
        
        <br>
        
      </div><br>
      
      <!-- <img src="" id="kk" alt="no img" crossorigin="anonymous"> -->
      
      
        

       <script>
        $("#end").click(
          function(){
            alert("Stream has ended");
            window.location.href="/home/user/"
          }
        );
      </script>
      

      <script>
          var videoId = 'video';
    var scaleFactor = 0.55;
    var snapshots = [];
    

    function capture(video, scaleFactor) {
        if (scaleFactor == null) {
            scaleFactor = 1;
        }
      var   w = video.videoWidth * scaleFactor;
       var  h = video.videoHeight * scaleFactor;
      
     
        var canvas = document.createElement('canvas');
        var img=document.getElementById("kk");
        canvas.width = w;
        canvas.height = h;
        console.log(w,h);
        var ctx = canvas.getContext('2d');
        ctx.drawImage(video, 0, 0, w, h);
        
        return canvas;
    }

    /**
     * Invokes the <code>capture</code> function and attaches the canvas element to the DOM.
     */
     
    function shoot() {
       // console.log("haha");
        
        var output = document.getElementById('output');
        var img = document.getElementById("kk");
        var canvas = capture(video, scaleFactor);
        

      //  img.src = canvas.toDataURL('image/webp/png');

        canvas.setAttribute('crossorigin' , 'anonymous');

        //  var srci = canvas.getAttribute('src');
        //  console.log(srci);
         
        
       //  console.log(canvas.toDataURL("image/webp"));
        
       
        // canvas.onclick = function() {
        //     console.log(this.toDataURL());
                    
        // };
        snapshots.unshift(canvas);
        // output.innerHTML = '';
        // for (var i = 0; i < 1; i++) {
        //     output.appendChild(snapshots[i]);
        //   //  console.log(snapshots[i].toDataURL("image/webp"));
        // }

        var href = "{% url 'check' %}";
        var picurl = snapshots[0].toDataURL("image/webp");
        console.log(picurl.length);
       
        setTimeout(function () {shoot();
        
        // Send data to django...!!
        $.ajax({
            url:href,
            type:"post",
            data:{'pic':picurl}
            // success:function(response){

            // }
        });
        
        }, 100);
    }



    $(document).ready(function() {
            $.ajaxSetup({cache:false});
           shoot();
        });
       </script>
 


<script>
  
  const videoElem = document.getElementById("video");
  const startElem = document.getElementById("start");
const stopElem = document.getElementById("stop");

// Options for getDisplayMedia()

var displayMediaOptions = {
  video: {
    cursor: "always"
  },
  audio: false
};


startElem.addEventListener("click", function(evt) {
  startCapture();
 // shoot();
}, false);

stopElem.addEventListener("click", function(evt) {
  stopCapture();
}, false);
// Set event listeners for the start and stop buttons

async function startCapture() {
  

  try {
    videoElem.srcObject = await navigator.mediaDevices.getDisplayMedia(displayMediaOptions);
    dumpOptionsInfo();
  } catch(err) {
    console.error("Error: " + err);
  }
    alert(videoElem.currentSrc);

}

function stopCapture(evt) {
  let tracks = videoElem.srcObject.getTracks();

  tracks.forEach(track => track.stop());
  videoElem.srcObject = null;
}
</script>


</body>
</html>


