{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">

    <style>
      body{
        background-color: black;
      }
    </style>
    
</head>
<body >
    <div class="nav" style="padding: 0cm;">
        <!-- <span style="margin-right: 55rem;"></span> -->
        <span class="link">
          <a href="/home/index/">Home</a>
        </span>
        <div class="link">
          <a href="#">Dashboard</a>
        </div>
        <div class="link">
          <a href="#">Services</a>
        </div>
        <div class="link">
          <a href="/home/about/">About</a>
        </div>
        <div class="link">
          <a href="#">Contact us</a>
        </div>
        <span style="margin-right: 22rem; "></span>
        <span style="padding-top: 10px;"><form action="/home/search/"  method="get">
         <input style="height: 1.7rem; width:14rem; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
            <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
        </form>
    </span>
    <span style="margin-right: 3rem;"></span>

        <div class="link">
            <a href="/home/register/">Register</a>
        </div>

        <div class="link">
            <a href="/home/login/">Login</a>
        </div>

      </div>
</body>
</html>