{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">

</head>
<body class="img">
    <a href="/home/register/"><button>Register</button></a>
    <a href="/home/about/"><button>About</button></a>
    <a href="/home/login/"><button>Login</button></a>
    
    <form action="/home/search/"  method="get">
        <input type="text" name="searchuser" placeholder="Search User">  <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>