{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Login</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/userhome.css' %}">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'home/login.css' %}">
    <style>
      body{
        background-image: url('/static/home/signin.png');
        background-size: cover;
        
      }      
      
    </style>

  </head>

  <body>
    
    
      
    <div class="nav" style="padding: 0cm; height: 61px;">
      <span class="link">
        <a href="/home/index/">Home</a>
      </span>
      <div style="width: 12rem;text-align: center;" class="dropdown">
        <button class="dropbtn">About</button>
        <div class="dropdown-content link">
          <a href="/home/about/">About Us</a>
          <a href="#">Contact Us</a>
          <a href="/home/event/">Events</a>
        </div>
      </div>
        <div style="width: 12rem;text-align: center;" class="dropdown">
          <button class="dropbtn">Top Rated</button>
          <div class="dropdown-content link">
            <a href="/home/topPost/">Posts</a>
            <a href="/home/topGamers/">Rankers</a>
          </div>
        </div>
  
      <span style="margin-right: 22rem; "></span>
      <span style="padding-top: 14px;"><form action="/home/search/"  method="get">
       <input style="height: 1.9rem; width:14rem; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
          <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
      </form>
  </span>
  <span style="margin-right: 3rem;"></span>
  
      <div class="link">
          <a href="/home/register/">Register</a>
      </div>
  
      <div class="link">
          <a href="/home/login/">Login</a>
      </div>
  
    </div>




    <div class="padded-m" style="margin-top: 8rem; margin-left: -5rem;">

    <form class="form-signin" action="/home/login/" method="POST" autocomplete="off">
      {% csrf_token %}
      <!--img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"-->
      <h1 class="h3 mb-3 font-weight-normal new mycolor" style="margin-left: 5rem; color: #FFA500;" >User Login</h1>

      <label for="inputEmail" class="sr-only">User Name</label>
      <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Username or Email" 
      required autofocus style="width: 300px; margin-top: 25px;"><br>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>

      <div class="checkbox mb-3">

        <label style="color: aliceblue; margin-left: 4.5rem;" class="new mycolor">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block bgnew" style="background-color: #FFA500; color: black;" type="submit">Sign in</button>
      <a href='forgot' style="margin-left: 5.5rem;" >Forgot Password?</a>
      <p class="mt-5 mb-3"><span style="margin-left: 3.5rem;" class="new">&copy; Flex Gamers 2020-2021</span></p>
    </form>


  </body>
</div>
</html>