{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'home/myhome.css' %}">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <title>Document</title>
<style>body{
    background-color: aqua;</style>
    
</head>
<body>
    {% for post in mylist %}

        By:- {{post.user.username}} <br>
        Tagline :- {{post.tagline}} <br>

        {% ifequal post.posttype "image" %}
            <img src="{{post.video.url}}" width="320px" height ="200px" alt="Not Found">
            <div class="rating" > <input type="radio" name="ratings" value="5" id="5"><label for="5">☆</label> <input type="radio" name="ratings" value="4" id="4"><label for="4">☆</label> <input type="radio" name="ratings" value="3" id="3"><label for="3">☆</label> <input type="radio" name="ratings" value="2" id="2"><label for="2">☆</label> <input type="radio" name="ratings" value="1" id="1"><label for="1">☆</label>
            </div>
            <br>
        
        {% else %}
            Video By :- {{post.user.name}}  <br>
        
            
            <a href="{% url 'playvideo' post.id %}"><button>Play Video</button></a>
            
            <div class="rating"> <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>

        {% endifequal %}


        <div class="rating" id="rating.{{post.id}}"><button id="{{post.id}}" class="rate">click here to Rate</button></div><br>
        <a href="{% url 'delete' post.id %}" ><button>Delete</button></a>
        {%if post in liked_post%}
    <button id ="{{post.id}}" class="lol"><a href="{%url 'like_post' %}" id="hlike{{post.id}}">Dislike</a></button>
        {%else%}
    <button id ="{{post.id}}" class="lol"><a href="{%url 'like_post' %}" id="hlike{{post.id}}">Like</a></button>
        {%endif%}
           <a class="count" id="count{{post.id}}">{{post.likes.count}}</a>
           <br><br>
    

           <!--this is a comment pls move ahead-->

           <div >
            <input type="radio" name="rating{{post.id}}" value="5" id="5"><label for="5" style="background-color: rgb(252, 255, 50);">☆</label> 
            <input type="radio" name="rating{{post.id}}" value="4" id="4"><label for="4" style="background-color: rgb(177, 185, 65);">☆</label> 
            <input type="radio" name="rating{{post.id}}" value="3" id="3"><label for="3" style="background-color: rgb(165, 172, 94);">☆</label> 
            <input type="radio" name="rating{{post.id}}" value="2" id="2"><label style="background-color: rgb(102, 107, 54);" for="2">☆</label> 
            <input type="radio" name="rating{{post.id}}" value="1" id="1"><label for="1" style="background-color: rgb(108, 151, 97);">☆</label>
           </div>

        <br>
        <br>
        <br>
    {% endfor %}
<script>
 $(".lol").click(
        function(e){
        var id =this.id;

        var href=$('.lol').find('a').attr('href')
        console.log(href,id)
        e.preventDefault();
 $.ajax({
            url:href,
            data : {'likeid':id},
            success:function(response){
              $('#count'+id).html(response.count)
                if(response.liked){
                $('#hlike'+id).html("Like")   //  find('a')finds button with id=post id and since href has our html so we have to find anker tag a and then use html,try doing this oppositely:by parag

                //'#' is used for refering 'id' while '.' is used for finding key words in 'class' (can be any keyword or keywrds present in class but try to make it unique)
                }else{
                     $('#hlike'+id).html("Dislike")
                }
            }
        })
        }
        );</script>

</body>
</html>