{% load static %}
<html>
    <head>
        <title>Register</title>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'home/userhome.css' %}"> 
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <style>
        body{
            /* background-image: url('https://images.wallpapersden.com/image/download/playerunknowns-battlegrounds-pc_72805_3840x2160.jpg'); */
            background-image: url('/static/home/pop.png');
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>


    </head>
    <body>
        


      <div class="nav" style="padding: 0cm; height: 61px;">
        <span class="link">
          <a href="/home/index/">Home</a>
        </span>
        <div style="width: 20rem;text-align: center;" class="dropdown">
          <button class="dropbtn">About</button>
          <div class="dropdown-content link">
            <a href="/home/about/">About Us</a>
            <a href="#">Contact Us</a>
            <a href="/home/event/">Events</a>
          </div>
        </div>
          <div style="width: 20rem;text-align: center;" class="dropdown">
            <button class="dropbtn">Top Rated</button>
            <div class="dropdown-content link">
              <a href="/home/topPost/">Posts</a>
              <a href="/home/topGamers/">Rankers</a>
            </div>
          </div>
    
        <span style="margin-right: 32rem; "></span>
        <span style="padding-top: 14px;"><form action="/home/search/"  method="get">
         <input style="height: 3rem; width:24rem; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
            <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
        </form>
    </span>
    <span style="margin-right: 3rem;"></span>
    
        <div class="link">
            <a href="/home/register/">Register</a>
        </div>
    
        <div class="link">
            <a href="/home/login/">Login</a>
        </div>
    
      </div>
  


    
          </div>
        <div style="background-color:initial; height:655px; width:370px; border-radius:30px; text-align:center; margin-left: 670px;" class="col-md-offset-4">
            <h1 style="text-align:center; padding-top:30px; color:#8375c3; margin-top: 0rem;">Sign Up</h1>
            
            <form action="/home/register/" method="post" id="registerForm">{% csrf_token %}

            <div class="col-sm-12" style="padding-top:35px;">
            <input type="text" class="form-control" id="name" required placeholder="Name" autocomplete="off" name="name" style="border-radius:15px;">
            
            </div>
            <div class="col-sm-12" style="padding-top:35px;">
            <input type="text" class="form-control" id="username" minlength="4" maxlength="15" required placeholder="User Name" autocomplete="off" name="username" style="border-radius:15px;">
            <p id="unique_username" style="color: white; font-size: 18px;"></p>
            </div>
            <div class="col-sm-12" style="padding-top:27px;">
            <input type="email" class="form-control" id="email" required  placeholder="Enter email" autocomplete="off" name="email" style="border-radius:15px;">
            <p id="unique_email" style="color: white; font-size: 18px;"></p>

            </div>
            <div class="col-sm-12" style="padding-top:27px;">
            <input type="number" class="form-control" id="mobileno" maxlength="10" minlength="7" required placeholder="Enter Mobile No." autocomplete="off" name="mobileno" style="border-radius:15px;">
            </div>
            <div class="col-sm-12" style="padding-top:35px;">
            <input type="password" class="form-control" id="password" minlength="6" maxlength="15"  placeholder="Type your Password" autocomplete="off" name="password" style="border-radius:15px;">
            </div>
            <div class="col-sm-12" style="padding-top:35px;">
                <input type="password" autocomplete="off" class="form-control" minlength="6" maxlength="15" id="confirmpassword" placeholder="Confirm Password" name="confirmpassword" style="border-radius:15px;">
            </div>
            
            
            <button class="col-md-4 col-md-offset-4 btn"  style="outline: none; background-color:#4e3f91; color:#f5eaea; font-size:20px; margin-top:35px;" type="submit"> Submit
            </button>
        </form>

            </div>

    </body>

    <script>
      $(document).on('submit', '#registerForm', function(){
    $.ajax({ 
        type: $(this).attr('method'), 
        url: this.action, 
        data: $(this).serialize()+ '&which_msg=' + "register1",
        context: this,
        success: function(response) {
          var x = response.msg;
            if(x=="Password not equal")
            alert(x);
            else if(x=="check otp"){
    
              $("body").empty();
              var newspan = document.createElement('SPAN');
              var newtext = document.createTextNode("ENTER OTP : ");
              newspan.appendChild(newtext);
              newspan.style.color="white";
              var newinput = document.createElement('input');
              newinput.type="text";
              $("body").append(newspan);
             $("body").append(newinput);
    
             var newbtn = document.createElement('button');
             newbtn.innerHTML="check";
             newbtn.id="check_otp";
          //   newbtn.addEventListener(onclick,check_otp());
             $("body").append(newbtn);

    
            }
            else
            $("#registerForm")[0].reset();
        }
        });
        return false;
    });
    
    
    $(document).on('click','#check_otp',
      function(){check_now();
      }
    );

    function check_now(){
      
       // console.log("clicked");
        var otp = $("input").val();
        var href = "{% url 'register' %}";
    
        $.ajax({
          type:"post",
          url: href,
          data:{'otp':otp,'which_msg':"check_otp"},
          success:function(response){
            var x = response.msg;
            var ty = response.msgtype;
            if(ty==1){
              alert(x);
              window.location.href="/home/index/";
              
            }
            else if(ty==2){
              alert(x);
            }
            else if(ty==4){
              window.location.href="/home/index/";
            }
            else{
              alert(x);
              window.location.href="/home/login/";
            }
        }
      });
      }
    
      
    </script>


<script>
  var typingTimer;                //timer identifier
var doneTypingInterval = 200;  //time in ms, 5 second for example
var $input = $('#username');

//on keyup, start the countdown
$input.on('keyup', function () {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(doneTyping, doneTypingInterval);
});

//on keydown, clear the countdown 
$input.on('keydown', function () {
  clearTimeout(typingTimer);
});

//user is "finished typing," do something
function doneTyping () {
  var username = $("#username").val();
  var x=1;
  $.ajax({
    url : "{% url 'checkUsername' %}",
    data : {'curr_username':username ,'type':"uname"},
    success:function(response){
      var unique = response.yes;
      console.log(unique);
      if(!unique){
        document.getElementById("unique_username").innerHTML="This Username is Already Taken";
        $("button").attr('disabled',true);
      }
      else{
        document.getElementById("unique_username").innerHTML="";

      }
    }
  });
}
</script>


<script>
//   var typingTimer1;                //timer identifier
// var doneTypingInterval1 = 200;  //time in ms, 5 second for example
var $input1 = $('#email');

//on keyup, start the countdown
$input1.on('keyup', function () {
  clearTimeout(typingTimer);
  typingTimer = setTimeout(doneTyping2, doneTypingInterval);
});

//on keydown, clear the countdown 
$input.on('keydown', function () {
  clearTimeout(typingTimer);
});

//user is "finished typing," do something
function doneTyping2 () {
  var username1 = $("#email").val();
  $.ajax({
    url : "{% url 'checkUsername' %}",
    data : {'curr_username':username1 , 'type':"email"},
    success:function(response){
      var unique = response.yes;
      console.log(unique);
      if(!unique){
        document.getElementById("unique_email").innerHTML="This Email is Already Taken";
        $("button").attr('disabled',true);
      }
      else{
        document.getElementById("unique_email").innerHTML="";

      }
    }
  });
}


</script>

</html>