{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}">
    <style>
        body{
            background-image: url('https://i.pinimg.com/originals/7a/a4/47/7aa447a13d841e3c3f51d5643b183ee9.jpg');     
          }
    </style>
</head>
<body >
    
    <a href="/home/index/">GET TO THE UNREAL WORLD!</a>
</body>
</html>