{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload Posts</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/userhome.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'home/upload.css' %}">
</head>
<body>
    <div class="nav" style="padding: 0cm; margin: 0px;height: 3.85rem;" >
        <span class="link">
          <a href="/home/index/">Home</a>
        </span>
        <div class="link">
          <a href="/home/profile/">Profile</a>
        </div>
        <div class="link">
            <a href="/paytm/offers/">Shop</a>
        </div>
        <div style="width: 6rem;text-align: center;" class="dropdown">
            <button class="dropbtn" >About</button>
            <div class="dropdown-content link">
              <a href="/home/about/">About Us</a>
              <a href="#">Contact</a>
              <a href="/home/event/">Events</a>
            </div>
        </div>
        <div style="width: 6rem;text-align: center;" class="dropdown">
            <button class="dropbtn">Assemble</button>
            <div class="dropdown-content link">
              <a href="/chat">Chat</a>
              <a href="{% url 'about' %}">Go Live</a>
            </div>
        </div>
          <div style="width: 6rem;text-align: center;" class="dropdown">
            <button class="dropbtn">Top Rated</button>
            <div class="dropdown-content link">
              <a href="/home/topPost/">Posts</a>
              <a href="/home/topGamers/">Rankers</a>
            </div>
          </div>
    
        <span style="margin-right: 22rem; "></span>
        <span style="padding-top: 10px;"><form action="/home/search/"  method="get">
         <input style="height: 1.7rem; width:14rem; outline: none; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
            <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
        </form>
    </span>
    <span style="margin-right: 3rem;"></span>
    
        <div class="link">
            <a href="/home/notify/">Notifications</a>
        </div>
    
        <div class="link">
            <a href="/home/logout/">Logout</a>
        </div>
    
      </div>
    
    <div class="col-md-4 col-md-offset-4" id="login">
        <section id="inner-wrapper" class="login">
            <article>


                <form action="/home/login/upload/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"> </i></span>
                            <input type="text" class="form-control" placeholder="Tagline" name="tagline">
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                            <input type="file" class="form-control" name="videofile" >
                        </div>
                    </div>

                    
                   
                      <button type="submit" class="btn btn-success btn-block">Submit</button>
                </form>


            </article>
        </section></div>

</body>
</html>