{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/userhome.css' %}">
    <title>Searched Posts</title>
    
    
</head>
<body>
    
    <div class="nav" style="padding: 0cm; margin: 0px;height: 3.5rem; padding-top: 0rem;" >
        <span class="link">
          <a href="/home/index/">Home</a>
        </span>
        <div class="link">
          <a href="/home/profile/">Profile</a>
        </div>
        <div class="link">
            <a href="/paytm/offers/">Shop</a>
        </div>
        <div style="width: 6rem;text-align: center;" class="dropdown">
            <button class="dropbtn" >About</button>
            <div class="dropdown-content link">
              <a href="/home/about/">About Us</a>
              <a href="#">Contact</a>
              <a href="/home/event/">Events</a>
            </div>
        </div>
        <div style="width: 6rem;text-align: center;" class="dropdown">
            <button class="dropbtn">Assemble</button>
            <div class="dropdown-content link">
              <a href="/chat">Chat</a>
              <a href="{% url 'about' %}">Go Live</a>
              <a href="{% url 'render' %}">See Live</a>
            </div>
        </div>
          <div style="width: 6rem;text-align: center;" class="dropdown">
            <button class="dropbtn">Top Rated</button>
            <div class="dropdown-content link">
              <a href="/home/topPost/">Posts</a>
              <a href="/home/topGamers/">Rankers</a>
            </div>
          </div>
    
        <span style="margin-right: 22rem; "></span>
        <span style="padding-top: 10px;"><form action="/home/search/"  method="get">
         <input style="height: 1.7rem; width:14rem; outline: none; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
            <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
        </form>
    </span>
    <span style="margin-right: 3rem;"></span>
    
        <div class="link">
            <a href="/home/notify/">Notifications</a>
        </div>
    
        <div class="link">
            <a href="/home/logout/">Logout</a>
        </div>
    </div>
    <img style="width: 6rem;" src="{% static 'home/icon.jpg' %}">




      
    <br>
    <br>
    <br>
    


      <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="SicfPQkD"></script>


    <span style="margin-left: 460px; font-weight: bold; font-size: 70px; color: #7badd8;">
        Posts of {{profusername}}
        <br>
    </span>  

    <br>

    
    {% for post in posts %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block"> 

                                {% if post.user.profileImage.url is not none %}
                                <img class="img-circle" src="{{post.user.profileImage.url}}" alt="No Pic"> 
                                {% else %}
                                <img class="img-circle" src="https://afribary.com/authors/anonymous-user/photo" alt="No pic">
                                {% endif %}
                                
                                <span class="username"><a href="{% url 'searchProfile' post.user.username %}" data-abc="true" style="font-size: larger;">{{post.user.username}}</a></span> <span style="margin-left: .75rem;font-size: large;">{{post.tagline}}</span> </div>
                            <div class="box-tools"> <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read"> <i class="fa fa-circle-o"></i></button> <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button> <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> </div>
                        </div>



                        {% ifequal post.posttype "image" %}
                        <div class="box-body"> <img class="img-responsive pad" style="width: 54rem; height: 500px;" src="{{post.video.url}}" alt="Photo">
                        
                            {% else %}
                            <div class="box-body myvideo" style="margin-left: 25px;">
                                <video  controls class="img-responsive pad myvideo">
                                    <source src="{{post.video.url}}" type="video/mp4">
                            
                                    Your browser does not support the video tag.
                                </video>
                        
                        {% endifequal %}
                    </div>
                            


                            {% if post in liked_posts %}
                            <span>
                            <button id ="{{post.id}}" class="lol"><a href="{%url 'like_post' %}" id="hlike{{post.id}}" class="like">Dislike</a></button>
                                {%else%}
                            <button id ="{{post.id}}" class="lol"><a href="{%url 'like_post' %}" id="hlike{{post.id}}" class="like">Like</a></button> 
                                {%endif%}
                                   <a class="count" id="count{{post.id}}">{{post.likes.count}}</a>

                                </span>               

                                
                                
                                   {% if post not in rated_posts %}
                                   <span  style=" margin-left: 4rem;"><span style="margin-top: -2rem;"  width="50px" height="30px" alt=""></span></span>    
                                   <span id="rate{{post.id}}" >
                                    <label for="1"><img style="border-radius: 3rem;" height="22rem" width="35rem" src="https://webstockreview.net/images/clipart-gun-long-gun-11.png" alt="I'm sad" /></label>           
                                    <input style="display: none;" type="radio" name="rate{{post.id}}" value="1" id="1"  > 
                                    <label for="2"><img style="border-radius: 3rem;" height="32rem" width="45rem" src="https://webstockreview.net/images/clipart-gun-long-gun-11.png" alt="I'm sad" /></label>
                                    <input style="display: none;" type="radio" name="rate{{post.id}}" value="2" id="2"  >
                                    <label for="3"><img style="border-radius: 3rem;" height="42rem" width="55rem" src="https://webstockreview.net/images/clipart-gun-long-gun-11.png" alt="I'm sad" /></label>
                                    <input style="display: none;" type="radio" name="rate{{post.id}}" value="3" id="3"  >
                                    <label for="4"><img style="border-radius: 3rem;" height="52rem" width="65rem" src="https://webstockreview.net/images/clipart-gun-long-gun-11.png" alt="I'm sad" /></label>
                                    <input style="display: none;" type="radio" name="rate{{post.id}}" value="4" id="4"  >
                                    <label for="5"><img style="border-radius: 3rem;" height="62rem" width="85rem" src="https://webstockreview.net/images/clipart-gun-long-gun-11.png" alt="I'm sad" /></label>
                                    <input style="display: none;" type="radio" name="rate{{post.id}}" value="5" id="5"  >
                        
                                   </span>


                                   <button class="rating re" id="x{{post.id}}"  >
                                    <a style="text-decoration: none; color: beige;" href="{% url 'rating' %}" class="{{post.id}}"><span id="text{{post.id}}"> Rate </span></a></button>

                                    {% else %}
                                        <button class="re like">Rated</button>
                                    {% endif %}
                                    <span id="avg{{post.id}}">{{post.avgRating}}</span><br>


                                    {% ifequal post.user.username username %}

                                    {% else %}


                                    <br><br>
                                    {% if post in reported_posts %}
                                    <button class="re like">Reported</button>
                    
                                    {% else %}
                                    <button class="report re" id="r{{post.id}}"><a style="text-decoration: none; color: rgb(229, 226, 226);" href="{% url 'report' %}" class="{{post.id}}" id="report{{post.id}}">
                                        <span id="s{{post.id}}">Report</span></a></button>
                                    {% endif %}
                    
                                {% endifequal %}
                            





<div style="margin-left: 45rem;" class="fb-share-button" data-href="http://127.0.0.1:8000/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

<br><br>
                                   

<div> <textarea id="cmnt{{post.id}}"  name="comment{{post.id}}" style="resize:none;width:400px; margin-left: 4rem;border-radius: 2rem;height: 4rem;outline: 0ch;padding: 1rem;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:large;"></textarea>
    <button style="margin-left: 0%;" id="{{post.id}}" class="Commentbtn re">Comment</button></div>
    
                                

            <div id="end{{post.id}}"></div> 
            <div style="height: 450px; overflow-y: auto; width: 800px; overflow-x: auto;">
            {%for comment in comments%}
              {%if post.id == comment.post.id %}
                
                    <pre style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size:large;">{% if comment.user.profileImage.url is not None %} <img height="35px" width="35px" src="{{comment.user.profileImage.url}}" alt="">  {{comment.user.username}} at {{comment.time}} :{{comment.comment}} {%else%}<img height="35px" width="35px" src="https://afribary.com/authors/anonymous-user/photo" alt=""> {{comment.user.username}} at {{comment.time}} :{{comment.comment}}  {% endif %} </pre>
                
                    <br>

                    <a id="re{{comment.id}}" style="cursor: pointer;"> <span id="{{comment.id}}" class="replies">reply</span></a>
                            
                            <div id="reply{{comment.id}}" style="display:none;">
                              <input type="name" name="replytext" id='replycmnt{{comment.id}}' >
                              <button id='{{comment.id}}' class='replybtn' style="background:transparent">reply</button>
                              <br>
                            <div id="ajax{{comment.id}}">
                                    
                                </div>
                            


                            {% for replie in replies%}
                            {%if replie.comments.id == comment.id %}

                            <span class="{{replie.id}}">
                                
                           {{replie.user.username}} to {{comment.user.username}} replied:<br>
                            {{replie.reply}}     

                          

                            {% ifequal replie.user.username username%}
                            <input type="button"  class="{{replie.id}} deletereply" value="Delete Reply">
                            
                            {% endifequal %}
                            
                            <!-- 
                            {%ifequal post.user.username username %}
                            <input type="button"  class="{{replie.id}} deletereply" value="Delete Reply">
                            {% endifequal %} -->
                          

                            <br><br>
                          </span>

                            {% endif %}
                            {% endfor %}

                            </div>
                            <hr style="border-color: lightseagreen;border-width: 0.1px;">




              {% endif %}
            {%endfor%}
            </div>
            <br>
                                   
                                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    




    <script>  
    
    $(".replies").click(
    function(e){
      id = this.id;

   var divreply =document.getElementById("reply"+id);

   if(divreply.style.display=="none"){
    divreply.style.display="block";
    $(this).html("hide");
   }else{ $(this).html("reply");
    divreply.style.display="none"
   }e.preventDefault();
    }
    );


    $(document).on('click','.replybtn',
        function(e){
          href="{% url 'replies' %}"
          id=this.id;
  
          var msg=document.getElementById("replycmnt"+id).value;   //gets text of the reply text area
          e.preventDefault();
          console.log(id,msg)
          $("#replycmnt"+id).val("");
$.ajax({
            url:href,
            data:{'commentid':id,'msg':msg},
            success:function(response){
              if(response.msg="success"){

                var rid=response.replyid;
                console.log(rid);

                var gotmsg = response.user+" to "+response.commentuser+" replied : "+"<br>" +msg;

                

                $("#ajax"+id).prepend( "<span></span>");
                $("."+rid).html(gotmsg);

                var all = document.getElementById("ajax"+id).querySelectorAll('span');
                all[0].className=rid;

                $("."+rid).html(gotmsg);

              
                var newbt = $('<input/>').attr({
                  type:"button",
                  value:"Delete Reply",
                  class: rid,
                });

              $("."+rid).append(newbt);
              $("."+rid).append("<br><br>" );
              $("input."+rid).addClass("deletereply");
           //   $("input."+rid).on("click",del());
            //  all = document.getElementsByClassName(rid).querySelectorAll('input');
              
              }
              
              else{
                alert("There Is some problem with your account please contact admin");
              }

            }
          })

        }
      );




    
        $(document).on('click','.deletereply',
          function (e)
          {
              var href="{% url 'deletereply' %}";
              var replyid = $(this).attr('class');
            
              var i,x="";
              for(i=0;i<replyid.length;i++)
              {
                if(replyid[i]==' ')
                {
                  break;
                }
                else{
                  x+=replyid[i];
                }
              }
              replyid =x;
              console.log(replyid);
              e.preventDefault();


              $.ajax({
                url:href,
                data:{'replyid':replyid},

                success:function(response){
                $("."+replyid).remove();
                
                //  $("."+replyid).find('span').remove();
                }
              });

          }
        );




     $(".Commentbtn").click(
    function(e){
    href="{% url 'comment_post'%}"
    var id=this.id;
    var msg=$("#cmnt"+id).val();

    $("#cmnt"+id).val("");

    e.preventDefault();
    console.log(id,msg)
    $.ajax({
    url: href,
    data:{'comment':msg,
           'postid':id},
    success:function(response){

      var msg=response.username+" at "+response.time+" : "+response.comment+"<hr>";


    var newimg =  $('<img />')
            .attr('src', "" + response.pic + "")         
            .width('35px').height('35px');

    var newspan=$('<span />');
        
        $("#end"+id).prepend(newspan);
        $(newspan).html("             "+msg);
        $(newspan).prepend(newimg);

    }
    })


    }
    );



        $(".lol").click(
               function(e){
               var id =this.id;
       
               var href=$('.lol').find('a').attr('href')
               console.log(href,id)
               e.preventDefault();
        $.ajax({
                   url:href,
                   data : {'likeid':id},
                   success:function(response){
                     $('#count'+id).html(response.count)
                       if(response.liked){
                       $('#hlike'+id).html("Like")   //  find('a')finds button with id=post id and since href has our html so we have to find anchor tag a and then use html,try doing this oppositely:by parag
       
                       //'#' is used for refering 'id' while '.' is used for finding key words in 'class' (can be any keyword or keywrds present in class but try to make it unique)
                       }else{
                            $('#hlike'+id).html("Dislike")
                       }
                   }
               })
               }
               );

               $(".report").click(
                   function(e){
                        var id = $(this).find('a').attr('class');
                        var href = $('.report').find('a').attr('href');
                        console.log(href,id)
                        e.preventDefault();
                
                $.ajax({
                    url:href,
                    data : {'postid':id},
                    success:function(response){
                       
                       $('#r'+id).find('a').remove();
                       $('#r'+id).html("Reported");

                    }
                    
                })
                   }
               );


               $(".rating").click(
               function(e){
                   var id = $(this).find('a').attr('class');
                   var href = $(this).find('a').attr('href');
                   
                   var x = $('#rate'+id).find('input');

                   var i,gotValue;
                   for(i=0;i<5;i++)
                    {
                        if(x[i].checked)
                        {
                            gotValue=x[i].value;
                            break;
                        }
                    }
                    e.preventDefault();

                    console.log(gotValue)

                    $.ajax({
                   url:href,
                   data : {'rateid':id , 'value':gotValue},
                   success:function(response){
                     // will write ajax here...pls wait
                     $('#avg'+id).html(response.avg)
                     $('#rate'+id).remove();
                     $('#x'+id).find('a').remove();
                     $('#x'+id).html("Rated");
                   }
               })
               
               }
               );
               
               </script>
       
       
</body>
</html>