{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'home/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'home/userhome.css' %}">
    <title>Document</title>
    
    
</head>
<body>
    


    <div class="nav" style="padding: 0cm; margin: -6px;" >
        <span class="link">
          <a href="/home/index/">Home</a>
        </span>
        <div class="link">
          <a href="/home/profile/">Profile</a>
        </div>
        <div class="link">
            <a href="/home/about/">About</a>
        </div>
        <div class="link">
            <a href="#">Contact us</a>
        </div>
        <div class="link">
            <a href="/home/login/mypost/">My Posts</a>
        </div>

        <div class="link">
            <a href="/home/topPost/">Top Posts</a>
          </div>

        <span style="margin-right: 22rem; "></span>
        <span style="padding-top: 10px;"><form action="/home/search/"  method="get">
         <input style="height: 1.7rem; width:14rem; outline: none; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
            <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
        </form>
    </span>
    <span style="margin-right: 3rem;"></span>

        <div class="link">
            <a href="/home/notify/">Notifications</a>
        </div>

        <div class="link">
            <a href="/home/logout/">Logout</a>
        </div>

      </div>

      <br>
      <br>
      <br>


      <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v8.0" nonce="SicfPQkD"></script>


    <span style="margin-left: 460px; font-weight: bold; font-size: 70px; color: #7badd8;">
        Posts of {{profusername}}
        <br>
    </span>  

    <br>

    
    {% for post in posts %}
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-md-6">
                    <div class="box box-widget">
                        <div class="box-header with-border">
                            <div class="user-block"> 

                                {% if post.user.profileImage.url is not none %}
                                <img class="img-circle" src="{{post.user.profileImage.url}}" alt="No Pic"> 
                                {% else %}
                                <img class="img-circle" src="https://afribary.com/authors/anonymous-user/photo" alt="No pic">
                                {% endif %}
                                
                                <span class="username"><a href="{% url 'searchProfile' post.user.username %}" data-abc="true" style="font-size: larger;">{{post.user.username}}</a></span> <span class="description">Public - 7:30 PM Today</span> </div>
                            <div class="box-tools"> <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-original-title="Mark as read"> <i class="fa fa-circle-o"></i></button> <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i> </button> <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button> </div>
                        </div>



                        {% ifequal post.posttype "image" %}
                        <div class="box-body"> <img class="img-responsive pad" style="width: 54rem; height: 500px;" src="{{post.video.url}}" alt="Photo">
                        
                            {% else %}
                            <div class="box-body myvideo" style="margin-left: 25px;">
                                <video  controls class="img-responsive pad myvideo">
                                    <source src="{{post.video.url}}" type="video/mp4">
                            
                                    Your browser does not support the video tag.
                                </video>
                        
                        {% endifequal %}
                    </div>
                            


                            {% if post in liked_posts %}
                            <span>
                            <button id ="{{post.id}}" class="lol"><a href="{%url 'like_post' %}" id="hlike{{post.id}}" class="like">Dislike</a></button>
                                {%else%}
                            <button id ="{{post.id}}" class="lol"><a href="{%url 'like_post' %}" id="hlike{{post.id}}" class="like">Like</a></button> 
                                {%endif%}
                                   <a class="count" id="count{{post.id}}">{{post.likes.count}}</a>

                                </span>               

                                
                                
                                   {% if post not in rated_posts %}
                                   <span  style=" margin-left: 3rem;"><img style="margin-top: -2rem;" src="https://webstockreview.net/images/clipart-gun-long-gun-11.png" width="50px" height="30px" alt=""></span>    
                                   <span id="rate{{post.id}}" >           
                                    <input type="radio" name="rate{{post.id}}" value="1" id="1"  > 
                                    <input type="radio" name="rate{{post.id}}" value="2" id="2"  >
                                    <input type="radio" name="rate{{post.id}}" value="3" id="3"  >
                                    <input type="radio" name="rate{{post.id}}" value="4" id="4"  >
                                    <input type="radio" name="rate{{post.id}}" value="5" id="5"  >
                        
                                   </span>



                                   <button class="rating re" id="x{{post.id}}"  >
                                    <a style="text-decoration: none; color: beige;" href="{% url 'rating' %}" class="{{post.id}}"><span id="text{{post.id}}"> Rate </span></a></button>

                                    {% else %}
                                        <button class="re like">Rated</button>
                                    {% endif %}
                                    <span id="avg{{post.id}}">{{post.avgRating}}</span><br>


                                    {% ifequal post.user.username username %}

                                    {% else %}


                                    <br><br>
                                    {% if post in reported_posts %}
                                    <button class="re like">Reported</button>
                    
                                    {% else %}
                                    <button class="report re" id="r{{post.id}}"><a style="text-decoration: none; color: rgb(229, 226, 226);" href="{% url 'report' %}" class="{{post.id}}" id="report{{post.id}}">
                                        <span id="s{{post.id}}">Report</span></a></button>
                                    {% endif %}
                    
                                {% endifequal %}
                            
<br><br>


<br><br>

<div class="fb-share-button" data-href="http://127.0.0.1:8000/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>

<br><br>
                                   

                    <textarea id="cmnt{{post.id}}"  name="comment{{post.id}}" style="resize:none;width:400px;"></textarea>
                            <button id="{{post.id}}" class="Commentbtn re">Comment</button>
                            
                                                        <br><br>

                                    <span id="end{{post.id}}"></span> <br>
                                    {%for comment in comments%}
                                      {%if post.id == comment.post.id %}
                                        
                                            <pre>{% if comment.user.profileImage.url is not None %} <img height="35px" width="35px" src="{{comment.user.profileImage.url}}" alt=""> {{comment.user.username}} at {{comment.time}} :{{comment.comment}} {%else%}<img height="35px" width="35px" src="https://afribary.com/authors/anonymous-user/photo" alt=""> {{comment.user.username}} at {{comment.time}} :{{comment.comment}}  {% endif %} </pre><hr>
                                       
                                      {% endif %}
                                    {%endfor%}
                                   
                                    
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    
    <script>
     $(".Commentbtn").click(
    function(e){
    href="{% url 'comment_post'%}"
    var id=this.id;
    var msg=$("#cmnt"+id).val();
    $("#cmnt"+id).val("");

    e.preventDefault();
    console.log(id,msg)
    $.ajax({
    url: href,
    data:{'comment':msg,
           'postid':id},
    success:function(response){

      $('<img />')
            .attr('src', "" + response.pic + "")         
            .width('35px').height('35px')

            .appendTo($('#end'+id));
        
         
        $("#end"+id).append(response.username+"at"+response.time+" :"+response.comment+"<hr>");

    }
    })


    }
    );
        $(".lol").click(
               function(e){
               var id =this.id;
       
               var href=$('.lol').find('a').attr('href')
               console.log(href,id)
               e.preventDefault();
        $.ajax({
                   url:href,
                   data : {'likeid':id},
                   success:function(response){
                     $('#count'+id).html(response.count)
                       if(response.liked){
                       $('#hlike'+id).html("Like")   //  find('a')finds button with id=post id and since href has our html so we have to find anchor tag a and then use html,try doing this oppositely:by parag
       
                       //'#' is used for refering 'id' while '.' is used for finding key words in 'class' (can be any keyword or keywrds present in class but try to make it unique)
                       }else{
                            $('#hlike'+id).html("Dislike")
                       }
                   }
               })
               }
               );

               $(".report").click(
                   function(e){
                        var id = $(this).find('a').attr('class');
                        var href = $('.report').find('a').attr('href');
                        console.log(href,id)
                        e.preventDefault();
                
                $.ajax({
                    url:href,
                    data : {'postid':id},
                    success:function(response){
                       
                       $('#r'+id).find('a').remove();
                       $('#r'+id).html("Reported");

                    }
                    
                })
                   }
               );


               $(".rating").click(
               function(e){
                   var id = $(this).find('a').attr('class');
                   var href = $(this).find('a').attr('href');
                   
                   var x = $('#rate'+id).find('input');

                   var i,gotValue;
                   for(i=0;i<5;i++)
                    {
                        if(x[i].checked)
                        {
                            gotValue=x[i].value;
                            break;
                        }
                    }
                    e.preventDefault();

                    console.log(gotValue)

                    $.ajax({
                   url:href,
                   data : {'rateid':id , 'value':gotValue},
                   success:function(response){
                     // will write ajax here...pls wait
                     $('#avg'+id).html(response.avg)
                     $('#rate'+id).remove();
                     $('#x'+id).find('a').remove();
                     $('#x'+id).html("Rated");
                   }
               })
               
               }
               );
               
               </script>
       
       
</body>
</html>