{% load static %}
<html>
    <head>
        <title>Paytm</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'paytm/pay.css' %}">
        <link href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
        <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js'></script>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header text-center">
                <h1>Paytm Payment Gateway</h1>
            </div>
            <!-- Credit Card Payment Form - START -->
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <h3 class="text-center">Payment Details</h3>
                                    <div class="inlineimage"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Mastercard-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Discover-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/Paypal-Curved.png"> <img class="img-responsive images" src="https://cdn0.iconfinder.com/data/icons/credit-card-debit-card-payment-PNG/128/American-Express-Curved.png"> </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" action="/paytm/payment" method="POST">{% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group"> <label>ACCOUNT OWNER</label> <input type="text" class="form-control" placeholder="Card Owner Name" /> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group"> <label>AMOUNT</label> <input type="number" name="amount" id="amount" class="form-control" placeholder="Amount from the offers" /> </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group"> <label>ORDER ID</label> <input type="number" class="form-control" placeholder="Order Id"  name="order" id="order" /> </div>
                                        </div>
                                
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-xs-12"> <button type="submit" class="btn btn-success btn-lg btn-block">Confirm Payment</button> </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>