{% load static %}
<html>
    <head>
        <title>Status</title>
        <link rel="stylesheet" type="text/css" href="{% static 'paytm/status.css' %}">
    </head>
    <body style="background-image: url('https://wallpapercave.com/wp/wp2533041.jpg');">
        <div style="color: aliceblue;">{{response}}</div>
        <h2 style="color: aliceblue;">Payment status regarding your order Id {{response.ORDERID}}</h2>
        {% if response.RESPCODE == '01' %}
        <div style="color: aliceblue;">ORDER SUCCESS</div>
        {% else %}
        <div style="color: aliceblue;">ORDER FAILURE</div>
        {% endif%}
        <br>
        <br>
        <a style="text-decoration: none;color: white;" href="/home/login/"><button style="width: 22rem;background-color: orange;" class="button">Back to Home</button></a>
    </body>
</html>