{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Chat</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/userhome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/create.css' %}">
</head>
<body>
    <body style="background-image: url('https://images8.alphacoders.com/719/thumb-1920-719873.jpg');background-repeat: no-repeat;background-size: cover;">
        <div class="nav" style="padding: 0cm; margin-top: -8px;height: 3.5rem;" >
            <span class="link">
              <a href="/home/index/">Home</a>
            </span>
            <div class="link">
              <a href="/home/profile/">Profile</a>
            </div>
            <div class="link">
                <a href="/paytm/offers/">Shop</a>
            </div>
            <div style="width: 6rem;text-align: center;" class="dropdown">
                <button class="dropbtn" >About</button>
                <div class="dropdown-content link">
                  <a href="/home/about/">About Us</a>
                  <a href="#">Contact</a>
                  <a href="/home/event/">Events</a>
                </div>
            </div>
            <div style="width: 6rem;text-align: center;" class="dropdown">
                <button class="dropbtn">Assemble</button>
                <div class="dropdown-content link">
                  <a href="/chat">Chat</a>
                  <a href="#">Clan</a>
                </div>
            </div>
              <div style="width: 6rem;text-align: center;" class="dropdown">
                <button class="dropbtn">Top Rated</button>
                <div class="dropdown-content link">
                  <a href="/home/topPost/">Posts</a>
                  <a href="/home/topGamers/">Rankers</a>
                </div>
              </div>
        
            <span style="margin-right: 22rem; "></span>
            <span style="padding-top: 10px;"><form action="/home/search/"  method="get">
             <input style="height: 1.7rem; width:14rem; outline: none; border-radius: 20px; padding-left: 6px; " type="text" name="searchuser"  placeholder="Search User">
                <button style="border-radius: 6px; color:rgb(17, 12, 6); height: 30px; margin-left: 10px; background-color: #FFA500;" type="submit">Search</button>
            </form>
        </span>
        <span style="margin-right: 3rem;"></span>
        
            <div class="link">
                <a href="/home/notify/">Notifications</a>
            </div>
        
            <div class="link">
                <a href="/home/logout/">Logout</a>
            </div>
        
          </div>
          <br><br><br><br><br>
          <div style="margin-left: 5rem;">
    <form action="/chat/handle_join_room/" method="post">
        {% csrf_token %}
        <input  style="font-size: larger;" type="text" autocomplete="off" placeholder="Room Name"required class="formStyle" name="roomName"><br>
        <input style="font-size: larger;" type="password" placeholder="Password" class="formStyle" name="password"><br>
        <button style="margin-top: 4rem;margin-right: 76rem;" class="formButton" type="submit">Join Room</button>
    </form>


    <div style="margin-top: 0px; color: white;position: absolute; left: 1000px;">

    <h1>Public Rooms: </h1><br>
    {% for room in rooms %}

      Room name: {{room.roomName}}   <br>
      Password: {{room.password}} <br>
      <br>

    {% endfor %}

  </div>
</div>
</body>
</html>